#header{ 
    font-family:"Monsterize";
    font-size: 20px;
}

#header .gauche{

    background-color: rgb(152, 195, 84);
    line-height: 50px;

    
}

#header .milieu{

    background-image: url("../images/jfa.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;  
    background-position: center;
    background-color: rgb(152, 195, 84);
    line-height: 50;




}

#header .droite{

    background-color: rgb(152, 195, 84);
    line-height: 50px;

    
}



#content{ 
    height:60%;

}



