.texte_gauche{
  /* height : 30vh; */
  padding-left: 30px;
  /* border-left: 2px solid #f75b00; */
  text-color : #f75b00;
  padding-top: 10px;
  /* background : #4d4f68; */

}

.texte_droite{
  /* height : 30vh; */
  padding-right: 30px;
  /* border-right: 4px solid #f75b00; */
  text-color : #f75b00;
  padding-top: 10px;
  /* background : #4d4f68; */

}

.section{
  height: 29,5vh;
  margin : 0;
  /* padding-top: 30px; */
  /* border-top: 1px solid #000A54; */
  overflow-x: hidden;
  text-align: center;
  border-bottom: 1px solid #000A54;
}

.section img{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.test{
  /* background: #23b971; */
}

.ombre_photo{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-right: 1px solid #000A54;
  border-left: 1px solid #000A54;

}

.ombre_test{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}