.police {
    font-family: 'Tahoma', sans-serif;
}

.bordure_g_orange{
    border-left: 2px solid #000A54;
}

.bordure_t_orange{
    padding-top: 20px;
    border-top: 2px solid #f8640e;
}

.logo_git {
    width: 30px;
    height: 30px;
}

.img_rond {
    border-radius: 50%;
}

.fond {
    background-color: #ffffff;
}

.fond_menu {
    background-color: #ececec;
}

.fond_sous_menu {
    background-color: #cecece;
}

.coin_rond {
    border-radius: 120px;
    color: black;
}

.coin {
    border-radius: 80px;
}

.body_css {
    padding-top: 40px;
}

.navbar_color {
    background-color: #f8640e;
    border-bottom: #000000 1px solid;
}

.footer_color {
    background-color: #c04600;
}

.color_text_nav {
    color: #ffffff;
}

.text_couleur_bleu_fonce {
    color: #000A54;
}

.text_couleur_bleu_fonce_clair {
    color: #ec7a38;
}

.text_couleur_bleu {
    color: #7faadf;

}

.first_letter_orange {
    color: #ec7a38;
}



.surligne_lang {
    --bs-accordion-active-bg: #f7f7f7;
    --bs-accordion-active-color: #000A54;
    color: #000A54;

}

.padding_title {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.padding_content {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.test_gradient {
    background: linear-gradient(-70deg, #e97f3d 30%, rgba(0, 0, 0, 0) 30%), url('planets.jpg');
}

/* Style de la barre de défilement en mode sombre */
::-webkit-scrollbar {
    width: 10px;
    background-color: #333;
    /* Couleur de fond en mode sombre */
}

/* Style du curseur de la barre de défilement en mode sombre */
::-webkit-scrollbar-thumb {
    background-color: #f8640e;
    /* Couleur du curseur en mode sombre */
}

.bg-aurora {
    color: #ffffff;
    background: -webkit-linear-gradient(-70deg, #1e1c70 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: -o-linear-gradient(-70deg, #1e1c70 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: -moz-linear-gradient(-70deg, #1e1c70 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: linear-gradient(-70deg, #1e1c70 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background-size: cover;
    background-position: 50% 21%;
    text-align: right;
}

.ombre{
    box-shadow: 0 0 20px 0 #000000;
}