.police {
    font-family: 'Tahoma', sans-serif;
}

.logo_git {
    width: 30px;
    height: 30px;
}

.img_rond {
    border-radius: 50%;
}

.fond {
    background-color: #1d1e29;
}

.fond_menu {
    background-color: #353747;
}

.fond_sous_menu {
    background-color: #45485e;
}

.coin_rond {
    border-radius: 120px;
    color: white;
}

.coin {
    border-radius: 80px;
}

.body_css {
    padding-top: 40px;
}

.navbar_color {
    background-color: #f8640e;
}

.footer_color {
    background-color: #c04600;
}

.color_text_nav {
    color: #1d1e29;
}

.color_text_orange {
    color: #f75b00;
}

.color_text_orange_clair {
    color: #ec7a38;
}

.text_couleur_bleu {
    color: #BDD0E5;

}

.surligne_lang {
    --bs-accordion-active-bg: #1d1e29;
    --bs-accordion-active-color: #f75b00;
    color: #f75b00;

}

.padding_title {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding_content {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.test_gradient {
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('planets.jpg');
}

/* Style de la barre de défilement en mode sombre */
::-webkit-scrollbar {
    width: 10px;
    background-color: #333;
    /* Couleur de fond en mode sombre */
}

/* Style du curseur de la barre de défilement en mode sombre */
::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Couleur du curseur en mode sombre */
}

.bg-aurora {
    color: #ffffff;
    background: -webkit-linear-gradient(-70deg, #45485e 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: -o-linear-gradient(-70deg, #45485e 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: -moz-linear-gradient(-70deg, #45485e 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background: linear-gradient(-70deg, #45485e 30%, rgba(0, 0, 0, 0) 30%), url('https://www.nasa.gov/sites/default/files/thumbnails/image/pia21421-cr.jpg');
    background-size: cover;
    background-position: 50% 21%;
    text-align: right;
}